body {
    padding-top: 75px;
    box-sizing: border-box;
    height: 100%;
}

.title-bar {
    background-color: #a92c2d;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
    font-size: 1.5rem;
    padding: 10px 0;
    font-family: Cinzel, sans-serif;
    color: #ffd700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar {
    height: 60px;
    margin-top: 50px;
}


.nav-link:hover {
    text-decoration: none;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 99, 71, 0.7), 0 0 20px rgba(255, 99, 71, 0.5);
}

.layout-container {
    display: flex;
    height: 100vh;
}

.profile-container {
    flex: 0 0 20%;
    background-color: #a92c2d;
    display: flex;
    /*justify-content: center;
    added*/
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #ddd;
    padding-top: 35px;
}

.profile h1 {
    font-size: 1.5rem;
    color: black;
    width: 100%; /*added*/
    text-align: center;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fav-container, .watch-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-container {
    background-color: #a92c2d;
    border-bottom: 2px solid #ddd;
}

.watch-container {
    background-color: #a92c2d;
}

.favs h1, .towatch h1 {
    margin: 0;
    font-size: 1.5rem;
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 3px solid #ddd;
    /*background-color: rgba(255,255,255,0.5);*/
    background-color: #ffd700;
    /*background: rgba(255, 193, 7, 0.9);*/
    margin: 15px 0;
    border-radius: 5px;
    /*width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffd700;
    margin: 5px;*/
}

.image-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-fit: contain;*/
    padding: 5px;

}

.userdetails-container {
    width: 100%;
    height: 50px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    /*background: rgba(255, 193, 7, 0.9);*/
    background-color: #ffd700;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 150px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffd700;
    margin: 5px;*/
}

.userdetails-container h5 {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 1.2rem;
}

.profiletitle-container {
    width: 150px;
    height: 35px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffd700;
    /*background: rgba(255, 193, 7, 0.9);*/
    margin-top: 20px;
}

.towatch h1 {
    font-size: 1.5rem;
    color: black;
}

.favs h1 {
    font-size: 1.5rem;
    color: black;
}