body {
    background: url('res/curtains.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    padding-top: 100px;
}

#searchBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin: 20px 0;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
}

#searchBox > div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

select[multiple] {
    height: auto;
    min-height: 100px;

}

select[multiple] option:hover {
    background-color: rgba(169, 44, 45, 0.5);
}

#searchBox input[type="text"] {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#searchBox input[type="button"] {
    box-shadow: 0 5px 20px 5px rgba(169, 44, 45, 0.5);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
}

#searchBox input[type="button"]:hover {
    background: rgba(255, 193, 7, 0.7);
}

#searchBox input[type="text"]:focus {
    box-shadow: 0 0 5px #a92c2d;
    outline: none;
}

.movieBlock {
    display: flex;
    flex-direction: row; /* Keep horizontal layout */
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
}

.movieBlock span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 1.2em;
    width: 25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.movieBlock img {
    width: 150px;
    margin-right: 20px;
}

.movieBlock .details {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-size: 0.9em;
}

.movieBlock .details button {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    padding: 0;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

.movieBlock .details .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.favorite {
    color: green;
}

.watch {
    color: green;
}

.title-bar {
    background-color: #a92c2d;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
    font-size: 1.5rem;
    padding: 10px 0;
    font-family: Cinzel, sans-serif;
    color: #ffd700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar {
    height: 60px;
    margin-top: 50px;
}

.nav-link:hover {
    text-decoration: none;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 99, 71, 0.7), 0 0 20px rgba(255, 99, 71, 0.5);
}