body.login-page {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    overflow: hidden;
}
i.fa-user, i.fa-lock {
    font-size: 25px;
    padding-right: 10px;
}

input:invalid {
    border: 2px solid #a92c2d;
}

input#username:focus:invalid {
    outline: none;
    box-shadow: 0 0 5px #a92c2d;
}

input#password:focus:invalid {
    outline: none;
    box-shadow: 0 0 5px #a92c2d;
}

.screen-container {
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 640px;
}

.screen-title {
    font-family: Cinzel, sans-serif;
    font-size: 1.8em;
    color: #ffd700;
    padding-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

fieldset.loginFields {
    border: none;
}

.login-box {
    <!--position: absolute;-->
    <!--top: 30%;-->
    <!--left: 50%;-->
    <!--transform: translate(-50%, -50%);-->
    background: rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-radius: 10px;
    <!--box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);-->
    <!--color: #fff;-->
    width: 100%;
    <!--max-width: 400px;-->
    <!--text-align: center;-->
    margin: 0 auto;
}

.form-container {
    text-align: center;
}

.form-container h3 {
    color: #a92c2d;
    margin-bottom: 15px;
}

.form-container input[type="text"], .form-container input[type="password"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    <!--font-weight: bold;-->
    <!--transition: background 0.3s ease;-->
    outline: none;
    margin-top: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-container input[type="submit"] {
    box-shadow: 0 5px 20px 5px rgba(169, 44, 45, 0.5);
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-container input[type="submit"]:hover {
    background: #ffc107;
}

.input-container i {
    color: #a92c2d;
}

.signup-link {
    display: block;
    margin-top: 15px;
    color: #a92c2d;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: none;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 99, 71, 0.7), 0 0 20px rgba(255, 99, 71, 0.5);
}
  
.movieBlock {
    border: solid 1px black;
}

body.registration {
    background: url('res/ticketstub.jpg') no-repeat center center;
    background-size: contain;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    <!--justify-content: center;-->
    justify-content: flex-start;
    align-items: center;
    padding-left: 25%;

}

.signup-container {
    padding: 10px 15px;
    max-width: 400px;
    max-height: 150px;
    text-align: center;
    <!-- overflow: hidden; -->
    margin-left: 20px;
    margin-bottom: 60px;
    <!-- adding this -->
    display: flex;
    flex-direction: column;
    align-items: center;
}

form #signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form#signupForm input[type="text"], form#signupForm input[type="password"] {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form .submit-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

form#signupForm input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    border: none;

}

fieldset.signupFields {
    border: none;
}
